*{

box-sizing:border-box;

font-family:Arial, sans-serif;

}



body{

margin:0;

background:#f1f8e9;

}



.container{

width:400px;

margin:120px auto;

background:white;

padding:30px;

border-radius:15px;

text-align:center;

box-shadow:0 5px 20px rgba(0,0,0,0.1);

}



input{

width:90%;

padding:12px;

margin:20px;

border-radius:8px;

border:1px solid #ccc;

}




button{

padding:12px 25px;

background:#2e7d32;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

font-size:16px;

}



button:hover{

background:#1b5e20;

}




.dashboard{

padding:30px;

}



h1{

text-align:center;

color:#2e7d32;

}




.card-container{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(200px,1fr));

gap:20px;

margin-top:30px;

}



.card{

background:white;

padding:20px;

border-radius:12px;

text-align:center;

box-shadow:
0 5px 15px rgba(0,0,0,0.1);

}



.card h3{

color:#555;

}


.card p{

font-size:25px;

font-weight:bold;

}





.recommendation{


margin-top:40px;

background:white;

padding:30px;

border-radius:15px;

box-shadow:
0 5px 20px rgba(0,0,0,0.1);

text-align:center;


}



#decision{

color:#2e7d32;

font-size:30px;

}